.blog{
    background-color: var(--secondary-background-color);

    .blog__container{
        margin:auto;
        display:flex;
        flex-direction:column;
        align-items: center;
        max-width: 1200px;

        .blog__title{
            font-size: 14px;
            letter-spacing: 1.4px;
            font-weight: 700;
            color: var(--tertiary-heading-color);
            font-family: "Open Sans", sans-serif;
        }

        .blog__subtitle{
            font-size: 50px;
            color: var(--primary-heading-color);
            font-weight: 750;
        }

        .blog__description{
            font-size: 19px;
            color: var(--primary-paragraph-color);
            font-weight: 500;
            font-family: "Open Sans", sans-serif;
        }

        .blog__list{
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .blog__item{
                margin: 0 15px;

                .blog__image{
                    max-width: 100%;
                    height: auto;
                }

                .blog__meta{
                    color: var(--accent-paragraph-color);
                    font-size: 15px;
                    font-family: "Open Sans", sans-serif;
                    font-weight: 700;

                    .blog__date{
                        color: var(--secondary-paragraph-color);
                    }
                }

                .blog__heading{
                    font-weight: 600;
                    color: var(--tertiary-heading-color);
                    font-size: 22px;
                }

                .blog__text{
                    font-size: 17px;
                    color: var(--primary-paragraph-color);
                    font-family: "Open Sans", sans-serif;
                    font-weight: 400;
                }

                .blog__link-wrapper{
                    display: flex;
                    align-items: center;

                    .blog__link{
                        color: var(--tertiary-link-color);
                        font-size: 13px;
                        font-family: "Open Sans", sans-serif;
                        text-decoration: none;
                        font-weight: 700;
                        transition: .2s ease-in;
                        display: flex;
                        align-items: center;
                        &:hover{
                            color: var(--secondary-link-color);
                            text-decoration: underline;
                        }

                        .blog__link-text{
                            &:hover{
                            color: var(--secondary-link-color);
                            text-decoration: underline;
                            }
                        }
                    }

                    .blog__icon{
                        color: var(--tertiary-link-color);
                        transition: .2s ease-in;
                        &:hover{
                            color: var(--secondary-link-color);
                        }
                    }
                }
            }
        }
    }
}
