.contacts{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--secondary-background-color);
    color: var(--accent-paragraph-color);
    font-weight: bold;
}

.flex-container{
    display: flex;
}

.contacts__list{
    display: flex;         /* Вмикає режим Flexbox */
    list-style: none;
    padding: 0;            /* Прибирає внутрішній відступ у <ul> */
    margin: 0;             /* Прибирає зовнішній відступ у <ul> */
    gap: 20px;
}

.contacts__email-link{
    text-align: center;
}

.flex-container-mail a{
    color: var(--accent-paragraph-color);
    margin-right: 300px;
}

.flex-container-phones{
    text-align: right;
}