.cleaning-stats {
  .cleaning-stats__list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-bottom: 60px;
    padding-top: 60px;
    background-color: var(--accent-background-color);
    @media (min-width: 600px) {
      flex-direction: row;
      justify-content: space-evenly;
    }
    .cleaning-stats__item {
      .cleaning-stats__number {
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-size: 3.125rem;
        font-weight: 700;
        color: var(--secondary-heading-color);
      }
      .cleaning-stats__description {
        text-align: center;
        font-family: "Open Sans", sans-serif;
        font-size: 1.0625rem;
        font-weight: 400;
        color: #d3d3d3;
      }
    }
  }
}
