.cleaning-stats {
    .cleaning-stats__list {
        background-color: var(--accent-background-color);
    }
    .cleaning-stats__number {
        font-family: "Poppins", sans-serif;
        font-size: 50px;
        color: var(--secondary-heading-color);
    }
    .cleaning-stats__description {
        font-family: "Open Sans", sans-serif;
        font-size: 17px;
        color: #d3d3d3;
    }
}