.features {
  padding: 60px 20px;
  background-color: #fff;
}

.features__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .features__container {
    flex-direction: column;
  }

}

.features__content {
  flex: 1;
  
}

@media (max-width: 768px) {
  .features__content {
    order: 1;
  }
}

.features__label {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--tertiary-heading-color);
  margin-bottom: 8px;
  font-family: "Open Sans", sans-serif;
}

.features__title {
  font-size: 44px;
  font-weight: 700;
  color: var(--primary-heading-color);
  margin-bottom: 16px;
}

@media (max-width: 768px) {
  .features__title {
    font-size: 38px;
  }
}

.features__description {
  font-size: 19px;
  color:var(--primary-paragraph-color);
  margin-bottom: 32px;
  line-height: 1.5;
  max-width: 600px;
  font-family: "Open Sans", sans-serif;
}

@media (max-width: 768px) {
  .features__description {
    font-size: 19px;
  }
}

.features__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media (max-width: 768px) {
  .features__list {
    gap: 20px;
  }
}

.features__item {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

@media (max-width: 768px) {
  .features__item {
    gap: 12px;
  }
}

.features__item-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 4px;
  color: var(--tertiary-heading-color);
}

.features__item-description {
  font-size: 19px;
  color: var(--primary-paragraph-color);
  line-height: 1.4;
  font-family: "Open Sans", sans-serif;
}

.features__icon {

  width: 40px;
  height: 40px;
  object-fit: contain;

}


.features__text {
  max-width: 500px;
}

.features__image-item {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

@media (max-width: 768px) {
  .features__image-item {
    order: 2;
  }
}

.features__image {
  max-width: 100%;
  height: auto;
}

.features__icon-bg {
  background-color: var(--primary-button-color); /* жёлтый */
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}



