.contacts__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contacts__main {
  background: rgb(244, 244, 244);
}

.contacts__main {
  padding: 90px 30px;
}

.contacts__map iframe {
  width: 100%;
  height: 400px;
  border: 0;
  display: block;
}
.contacts__item-title {
  color: #3c3c3c !important; /* твой тёмно-серый */
  font-weight: 700;
  font-size: 22px; /* или нужный размер */
  margin: 0 0 5px;
}

@media (min-width: 600px) {
  .contacts__main {
    padding: 105px 60px;
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  .contacts__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* ліворуч контент, праворуч карта */
    gap: 0px;
    align-items: stretch;
    /* розтягнути обидва стовпці по висоті */
  }
}

.contacts__icon {
  width: 50px;
  height: 50px;
  aspect-ratio: 1/1;
  background-color: #fcd700;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  flex: 0 0 50px;
}

.contacts {
  background-color: #fff;
  padding: 60px 30px;
}

.contacts__eyebrow {
  font-size: 14px;
  font-weight: 700;
  color: #3c3c3c;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-left: 0px;
  letter-spacing: 1.4px;
}

.contacts__title {
  font-size: 38px;
  font-weight: 700;
  color: #316ccd;
  margin-bottom: 18px;
}

.contacts__description {
  font-size: 19px;
  font-weight: 500;
  color: #848484;
  margin-bottom: 36px;
}

.contacts__list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  list-style: none;
  margin: 0px;
  padding: 0px;
  gap: 20px;
}

.contacts__item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.contacts__text {
  font-style: normal;
  color: #848484;
  font-size: 17px;
  font-weight: ;
}

.contacts__icon-svg {
  width: 26px;
  height: 26px;
  display: block;
  color: #3c3c3c;
}

.contacts__map {
  margin: 0;
  padding: 0;
}

.contacts__map iframe {
  height: 100%;
  /* для мобильных */
}

.contacts__link {
  color: #848484;
  /* твой серый цвет */
  text-decoration: none;
  /* убираем стандартное подчеркивание */
}

.contacts__link:hover {
  text-decoration: underline;
  /* добавляем подчеркивание при наведении */
}