/* Illia Stefanov */
.work__subtitle {
  font-size: 1.4rem;
  font-weight: 400;
  color: #dde5ed;
  margin: 0;
}
.work__title {
  font-size: 3rem;
  font-weight: 830;
  margin: 0.5em 0;
  color: var(--el-color);
}
.work {
  background-image: url("../img/textbackground/raw.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100vw;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 3em;
  font-family: "Nunito", sans-serif;
  color: #dde5ed;
}
.work__header {
  text-align: center;
}
.work__row {
  display: flex;
  justify-content: center;
  gap: 4em; /* расстояние между блоками */
  margin-top: 12em; /* отступ от заголовка вниз */
  padding: 0 3em; /* отступы слева и справа */
}

.work__row__item {
  text-align: center; /* выравнивание по центру */
  min-width: 200px; /* минимальная ширина для красоты */
  font-size: 1.8rem; /* размер шрифта */
}

:root {
--lower-text-color: #BFC6D2;
--lower-subtitle-color: #FAFCFE;
--el-color: #ffffff;
}

.work__row__item p span {
  color: var(--lower-text-color) !important ;
}

.work__subtitle__low {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--lower-subtitle-color);
  margin: 0;
}